<!-- 1. Link to jQuery (1.8 or later), -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<style type="text/css">
	.gallery-container{
		padding-top: 15px !important;
	}
	.aspire{
		text-align: center;
		font-style: italic;
		font-weight: bold;
		color: #f2d7e3;
		font-size: 62px;
	}
	.gallery-nav{
		font-style: italic;
	}
	.fotorama-row{
		margin-bottom: 50px;
		margin-top: 10px;
	}
	.lower-cont{
		/*margin-top: 80px;*/
	}
</style>
<div class="container gallery-container lower-cont">
	<div class="row aspire-row">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<h1 class="aspire">inspire.</h1>
		</div>
	</div>
	<div class="row fotorama-row">
		<div class="col-sm-2">
		</div>
			<div class="foto-col col-sm-8">
				<div class="fotorama" data-nav="thumbs" data-width="100%" data-ratio="800/600">
				  <%= image_tag('Install_003') %>
				  <%= image_tag('Install_004') %>
				  <%= image_tag('Closet_001') %>
				  <%= image_tag('Closet_004-1') %>
				  <%= image_tag('Closet_004-2') %>
				  <%= image_tag('Closet_004-3') %>
				  <%= image_tag('Closet_004-4') %>
				  <%= image_tag('Closet_002-1') %>
				  <%= image_tag('Closet_002-2') %>
				  <%= image_tag('Closet_002-3') %>
				  <%= image_tag('Closet_003-1') %>
				  <%= image_tag('Closet_003-2') %>
				  <%= image_tag('Install_001-1') %>
  				  <%= image_tag('Install_001-2') %>
				</div>
			</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>